@font-face {
  font-family: "Pet Me 2Y";
  src: url('../fonts/PetMe2Y.ttf') format("truetype");
}

html {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #111;
  color: #cacaca;
  display: table;
  font-family: "Pet Me 2Y";
  height: 100%;
  width: 100%;
}

body p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

body span pre {
  line-height: 100%;
}

